body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    touch-action: none; /* Mobilde zoom ve kaydırmayı kapatır */
}

canvas {
    display: block;
    width: 100%;
    height: 100vh;
}

#loadingMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    pointer-events: none;
}